.dashboard{
    /* position: relative; */
    margin-top: 50px;
    
}
.barDash{
    background-color: rgb(231, 231, 231);
    display: block;
    height: 150px;
    /* position: sticky;  */
    /* position: fixed;
    
     position: absolute;  */
}
.barDash h1{
    font-size: 40px;
    padding-top: 30px;
    padding-left: 30px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    
}
.tableProduct tr {
   text-align: center;
   vertical-align: middle;
}

.navbar-dashboard{
    width: 600px;
    height: 50px;
    margin: 30px auto 0;
    
}
.logform{
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    
}
.home{
    background-color: antiquewhite;
    width: 100%;
    height: 600px;
    
    
}